%h1 
  Listing pages in
  = @area.name

%table
  %tr

  - for page in @pages
    %tr
      %td.name= page.name
      %td.show= link_to 'Show Public', [@area, page]
      %td.show= link_to 'Edit', edit_admin_area_page_path(@area, page)  
      %td.delete= link_to 'Destroy', admin_area_page_path(@area, page), :confirm => 'Are you sure?', :method => :delete 

%br/

= link_to 'New page', new_admin_area_page_path
