
<h1><%= @album.name %></h1>


<%= form_for [:admin, @album] do |f| %>
  <p>
    <label>Album Title</label>
    <%= f.text_field "name" %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<% @album.pictures.each do |picture| %>
  <div class="image-preview">
    <%= image_tag picture.photo.url(:thumb) %>
    <div class="delete"><%= link_to 'Destroy', [:admin, @album, picture], data: {confirm: 'Are you sure?'}, method: :delete %></div>
  </div>
<% end %>

<div class="add-new-images">
  <p>Add New Images to Album</p>
  <%= form_for @picture, url: admin_album_pictures_path(@album), html: { multipart: true } do |f| %>
    <%= f.file_field :photo %>
    <%= f.submit "Save Image" %>
  <% end %>
</div>

<%= link_to 'Back', admin_albums_path %>
