%h1 Editing #{@person.name}

= form_tag(admin_person_path(@person), :method => :put) do
  = render :partial => "form"
  %p= submit_tag "Update"
= link_to 'Show Live', @person
|
= link_to 'Back', admin_people_path
