!!!
%html
  %head
    %title= @title || "catlin design"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body.admin
    %header 
      %h1 Admin
      = link_to "Portfolio", admin_albums_path
      |
      = link_to "People", admin_people_path
      |
      = link_to "Pages", admin_areas_path
      |
      = link_to "Users", admin_users_path
    = yield